<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add a Painting</h1>

    {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
        {% for message in messages %}            
            <p>{{message}}</p>                  
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/paintings/{{painting.id}}/update", method='POST'>

        Title: <input type="text" name="title" value='{{painting.title}}'><br><br>
        Description: <br><textarea name="description" cols="27" rows="10">{{painting.description}}</textarea> <br><br>
        Price: <input type="number" name="price" value="{{painting.price}}"> <br><br>

        <input type="submit">

    </form><br>

    <a href="/paintings/new">Add Painting</a> <br><br>
    <a href="/paintings">Dashboard</a> <br><br>
    <a href="/logout">logout</a>  

</body>
</html>