<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/welcomePage.css">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to The Painting Collection</h1>
    <div id="error_message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div>
        <div id="register">

            <h2>Register:</h2>
            <form action="/users/register" method='POST'>

                Name: <input type='text' name='first_name'><br>
                Lastname: <input type='text' name='last_name'><br>
                Email: <input type='email' name='email'><br>
                Password: <input type='password' name='password'><br>
                Confirm password: <input type='password' name='confirm_password'><br>
                <input type="submit">

            </form>

        </div>



        <div id="login">
            <h2>Login:</h2>

            <form action="/users/login" method='POST'>

                Email: <input type='text' name='email'><br>
                Password: <input type='password' name='password'><br>
                <input type="submit">

            </form>
        </div>

    </div>
</body>

</html>