<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add a Painting</h1>

    {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
        {% for message in messages %}            
            <p>{{message}}</p>                  
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form action="/paintings/create", method='POST'>

        Title: <input type="text" name="title"><br><br>
        Description: <br><textarea name="description" cols="27" rows="10"></textarea> <br><br>
        Price: <input type="number" name="price"> <br><br>

        <input type="submit">

    </form><br>

    <a href="/paintings">Dashboard</a><br><br>
    <a href="/">Logout</a>



</body>
</html>