<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/new_painting.css">
    <title>Document</title>
</head>
<body id="painting_info">
    
    <h1>{{painting.title}}</h1>

    <h3>Painted by {{painting.user.first_name}}</h3><br>

    <h4>Description:</h4> 
    <h4>{{painting.description}}</h4> <br>

    <p>Price: {{painting.price}}</p>




    <a href="/paintings/new">Add Painting</a> <br><br>
    <a href="/paintings">Dashboard</a> <br><br>
    <a href="/logout">logout</a>  
</body>
</html>