<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/painting.css">
</head>

<body>
    <h1>Welcome {{session['user_first_name']}} {{session['user_last_name']}}!</h1>



    <h2>List of paintings</h2>


    <table id="data">


        {% for painting in paintings %}
        <tr>
            <td><a href="/paintings/{{painting.id}}">{{painting.title}}</a></td>

            <td>by {{painting.user.first_name}} {{painting.user.last_name}}</td>

            <td>{% if session['user_id'] == painting.users_id %}<a href="/paintings/{{painting.id}}/delete">delete</a> |
                <a href="/paintings/{{painting.id}}/edit">edit</a>{% endif %}</td>
        </tr>
        {% endfor %}


    </table>
    <br>
    <div id="buttons">
        <a href="/paintings/new" id="add_button">Add Painting</a>
        <a href="/logout">Logout</a>
    </div>

</body>

</html>