* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(./main_page.jpeg);
    background-size: cover;
    background-position: auto;
}

table, th, td {

    border: 1px solid black;

}

#error_message {
    color: aliceblue;
    margin: 0 auto;
    text-align: center;

}

h1 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 0 auto;
    color: lightsalmon;
    border: 1px solid black;
}

h2 {
    color: darkred;
}



#register{
    width: 70px;
    height: 300px;
    margin: 0 auto;
    margin-top: 25px;
  }

#login{
    width: 70px;
    height: 300px;
    margin: 0 auto;
    
  }

#add_button {
    margin: 0 auto;
}